<mj-section padding="0">
  <mj-column>
    <mj-image
      width="80px"
      border-radius="20%"
      src="{{ profileUrl }}"/>
    <mj-text align="center" font-size="20px" font-weight="bold">
      [[vsph.i18n.mail.hello]] {{ username }}!
    </mj-text>
    <mj-text align="center" color="rgb(140,140,140)" font-size="15px">
      [[vsph.i18n.mail.reqUpdateSecondEmail.paragraph1]]:
    </mj-text>
    <mj-button
      padding="20px 0"
      background-color="white"
      border="1px solid black"
      border-radius="10px"
      color="black"
      inner-padding="8px"
      width="40%"
      font-size="20px"
      font-weight="bold">
      {{ token }}
    </mj-button>
    <mj-text align="center" color="rgb(140,140,140)" font-size="15px">
      [[vsph.i18n.mail.tokenLife]] <span style="color: black; font-weight: bold">
        {{ tokenLife }} [[vsph.i18n.mail.minutes]]</span>. [[vsph.i18n.mail.reqUpdateSecondEmail.paragraph2]]
      <a style="color: black" href="mailto:{{ replyMail }}">{{ replyMail }}</a>.
    </mj-text>
  </mj-column>
</mj-section>
